:root {
    --color-primary: #ffffff;
    --color-secondary: gray;
    --color-gray: #4b4c50;
    --color-dark-gray: #bbbcbf;
    --color-black: #121212;
    --color-light-gray: #121214;
    --color-dark-blue: #1b1f27;
}

body {
    /* background-color: var(--color-dark-blue); */
    background-color: black;
}

.category-name::first-letter  {
    text-transform: uppercase;
}

.block {
    width: 300px;
    background-color: #121212;
}

.user-img {
    width: 150px;
    height: 150px;
    margin: 24px;
    
}
.user-img:hover {
    cursor: pointer;
}    

#navbarDropdown {
    text-transform: capitalize;
}

.dropdown-menu {
    background-color: #121214;
}

.dropdown-item {
    color: #bbbcbf;
}

.custom-button-style {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-black);
    
}

.spinner{
    width: 100%;
    height: 100%;
    visibility:visible;
}
.spinner img{
    transform: translateY(-50%);
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    margin-left: 50%;
    margin-right: auto;
}
